
Assets/Assets/Abandoned_Asylum/Prefabs/Asylum.prefab
Assets/Assets/Abandoned_Asylum/Prefabs/Asylum.prefab.meta
Assets/Samples/XR Interaction Toolkit/2.5.2/Starter Assets/Tunneling Vignette/TunnelingVignetteSG.shadergraph
Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Assets/Scripts/Monster/Injured Run.fbx
Assets/Scripts/Monster/Injured Run.fbx.meta
Assets/Scripts/Monster/Walking.fbx
Assets/Scripts/Monster/Walking.fbx.meta
Library/APIUpdater/ConfigurationCache/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.ref.dll.150DE35F4547E5C7EC7355DEA98E6FC3AEA0CF55DA71180F78F5856238A623AE.apiupaterconfigs
Library/APIUpdater/ConfigurationCache/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.ref.dll.C4CDB90D5C565683F06BE157F6F5EDCCAA5EEC677C2B5744861EFBEBFE66F92B.apiupaterconfigs
Library/APIUpdater/ConfigurationCache/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll.DC02B0C00CDC96E4ABE88665020CC53E5907B7531563C644394658AA8E11B3A6.apiupaterconfigs
